@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;500;700&display=swap');
html, body {
  font-family: 'Jura', sans-serif;
  font-size: 16px;
}
.abs {
  position: absolute;
}
body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  margin: 0;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  transform-origin: 0px 0px;
}
.container {
  position: absolute;
  width: 1280px;
  height: 720px;
  background-color: #596e73;
}
.input_video {
  position:relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(-1, 1);
}
.output_canvas {
  position:absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 720px;
}
.app {
  position: absolute;
  width: 1280px;
  height: 720px;
  &-cursor {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3rem;
    height: 3rem;
    background-image: url('assets/images/cursor1.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    transform: translate(-50%, -50%);
    transition: top .1s, left .1s;
    &.pinching {
      background-image: url('assets/images/cursor2.svg');
    }
  }
}
.title {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  text-shadow: 0 .125rem .125rem rgba(0,0,0,.5);
}
.instructions {
  display: flex;
  margin: 1rem;
  with: 100%;
  &-image {
    width: 10rem;
    height: 10rem;
    background-image: url('assets/images/pinch.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  &-text {
    color: black;
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
